<div class="container mx-auto">
  <h3 class="text-center font-bold text-[2rem] mb-[2rem]">Product list</h3>
  <div class="main-container">
    <div class="thead grid grid-cols-7 text-center text-[1.2rem] font-semibold">
      <div class="">Image</div>
      <div class="col-start-2 col-end-4">Product</div>
      <div class="">Code</div>
      <div class="">Available</div>
      <div class="">Price</div>
      <div class="">5 Star Rating</div>
    </div>
    <div class="body grid auto-rows-auto mt-[0.5rem] gap-[1rem] text-[1.2rem]">
      @for (product of products; track product.productId) {
        <div class="row grid grid-cols-7 justify-items-center gap-[1rem]">
          <img width="80" height="100" ngSrc="{{product.imageUrl}}" alt="">
          <div class="flex items-center justify-center col-start-2 col-end-4">{{ product.productName }}</div>
          <div class="flex items-center justify-center">{{ product.productCode }}</div>
          <div class="flex items-center justify-center">{{ product.releaseDate }}</div>
          <div class="flex items-center justify-center">{{ product.price }}</div>
          <div class="flex items-center justify-center">{{ product.starRating }}</div>
        </div>
      }
    </div>
  </div>
</div>
