<div class="container mx-auto">
  <h1 class="font-semibold text-[2rem] text-center mb-[2rem]">Danh sách nhà khoa học</h1>
  <div class="main-list-container text-center">
    <div class="thead grid grid-cols-5 text-[1.2rem] font-semibold">
      <div class="w-[150px]">#</div>
      <div class="">First</div>
      <div class="">Last</div>
      <div class="">Year</div>
      <div class="">Passed</div>
    </div>
    <div class="tbody grid mt-[0.5rem] gap-[0.5rem] text-[1.2rem]">
      @for (inventor of inventors; track inventor.id) {
        <div class="grid grid-cols-5">
          <div class="w-[150px]">{{ inventor.id }}</div>
          <div class="">{{ inventor.first }}</div>
          <div class="">{{ inventor.last }}</div>
          <div class="">{{ inventor.year }}</div>
          <div class="">{{ inventor.passed }}</div>
        </div>
      }
    </div>
  </div>
  <button class="my-[2rem] mx-auto w-max block text-[1.5rem]
   bg-black rounded-xl text-white px-[1.5rem] py-[1rem]" routerLink="/" routerLinkActive="active"
          ariaCurrentWhenActive="page">Trở về menu chính
  </button>
</div>
