<div class="container mx-auto">
  <h1 class="font-bold mx-auto w-max text-[1.5rem] mt-[2rem]">
    Nguyễn Đinh Tiến Điền - PS32003 - Menu trang chủ lab 1
  </h1>
  <ul class="w-max mx-auto my-[1rem] flex gap-6 font-semibold">
    <li class="text-[1.2rem]">
      <a class="text-[1.5rem]" routerLink="/bai2" routerLinkActive="active" ariaCurrentWhenActive="page">Bài 2</a>
    </li>
    <li class="text-[1.2rem]">
      <a class="text-[1.5rem]" routerLink="/bai3" routerLinkActive="active" ariaCurrentWhenActive="page">Bài 3</a>
    </li>
    <li class="text-[1.2rem]">
      <a class="text-[1.5rem]" routerLink="/bai4" routerLinkActive="active" ariaCurrentWhenActive="page">Bài 4</a>
    </li>
  </ul>
</div>
