<div class="container mx-auto">
  <div class="caption">
    <h4 class="text-center text-[2rem] font-semibold">Thông tin sinh viên</h4>
    <img class="max-w-[350px] mx-auto my-[1rem] rounded-2xl" src="assets/images/users/{{student.image}}" alt="">
  </div>
  <ul class="w-max mx-auto text-[1.5rem]">
    <li>
      <span>Họ tên: </span> {{ student.name }}
    </li>
    <li>
      <span>Ngày sinh: </span> {{ student.birthDate }}
    </li>
    <li>
      <span>Giới tính: </span> {{ student.gender }}
    </li>
    <li>
      <span>Điểm trung bình: </span> {{ student.averagePoint }}
    </li>
  </ul>
  <button class="my-[2rem] mx-auto w-max block text-[1.5rem]
   bg-black rounded-xl text-white px-[1.5rem] py-[1rem]" routerLink="/" routerLinkActive="active"
          ariaCurrentWhenActive="page">Trở về menu chính
  </button>
</div>
